<div class="container">
    <div class="row">
        <div class="col-md-3">
            <app-navbar></app-navbar>
        </div>
        <div class="col-md-9">
            <a routerLink="/new-potential"><button class="btn btn-info">Add New Dream Company</button></a>
            <br>
            <br>
            <div *ngFor="let potential of all_potentials; let i = index">
                    <div class="card col-md-9">
                        <div class="card-body">
                          <h4 class="card-title">{{potential.companyName}}</h4>
                          <h6 class="card-subtitle mb-2 text-muted">{{potential.position}}, {{potential.location}}</h6>
                          <p class="card-text">{{potential.website}}</p>
                        </div>
                    </div>
                
            </div>

            
        </div>
    </div>
</div>
