<div class="component">
    <form>
        <div class="submit-form">
            <div>
                <label for="CompanyName">Company Name</label>
                <input type="text" id="CompanyName" required [(ngModel)]="new_potential.CompanyName"
                    name="CompanyName" />
            </div>

            <div>
                <label for="position">Position</label>
                <input type="text" id="position" required [(ngModel)]="new_potential.position" name="position" />
            </div>

            <div>
                <label for="location">Location</label>
                <input type="text" id="location" required [(ngModel)]="new_potential.location" name="location" />
            </div>
            <div>
                <label for="website">Website</label>
                <input type="text" id="website" required [(ngModel)]="new_potential.website" name="website" />
            </div>

        </div>

        <button (click)="addNewJobPosition()">Submit</button>
    </form>
</div>